.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background-color: $color-bg-variant;
    padding: 1.2rem;
    border-radius: 2rem;
    height: max-content;
    border: 1px solid transparent;
    transition: $transition;
    &:hover{
        border-color: $color-primary-variant;
        background-color: transparent;
    }
}
.project__description{
    margin-bottom: 1.2rem;
}
.project__description-icon{
    color: $color-primary;
    margin-top: 2px;
    min-width: 16px;
    min-height: 16px;
}
.project__description li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.portfolio__item-img{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
     display: flex;
     gap: 2rem;
     justify-content: center;
    //  margin-bottom: 1rem;
}

// ###### MEDIA QUERY ######
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}